# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# transient
transient/

# projectile
projectile-bookmarks.eld
.projectile-cache.eld
projects

# cache
.cache/

# recentf
recentf

# elpa packages
elpa/

# lsp stuff
tramp
.lsp-session-v1

# org stuff
bookmarks

# tree sitter stuff
tree-sitter/