# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# transient
transient/

# projectile
projectile-bookmarks.eld

# cache
.cache/

# elpy stores venvs in this folder
elpy/

# anaconda stores venvs in this folder
anaconda-mode/